{% extends 'projects/students/detal.html' %}

{% block nav %}
    <ul class="nav" id="main-menu">
        <li>
            <a class="active-menu" href="{% url 'project_list' %}"><i class="fa fa-list "></i>项目列表</a>
        </li>
        <li>
            <a href="{% url 'logout' %}"><i class="fa fa-list "></i>注销</a>
        </li>
    </ul>
{% endblock %}

{% block approval %}
    <div class="row pad-top-botm">
            <form role="form" class="col-lg-3 col-md-6 col-sm-12" method="post" action="{% url 'grade' %}">
            {% csrf_token %}
            <input id="p_id" style="display: none;" type="text" name="id" value="{{ project.id }}"/>
            <div class="form-group">
                <h4><strong>专家评分</strong>（ 评分范围：0-100 ）</h4>
                <input class="form-control" type="number" name="score" id="id_score" min="0" max="100" required />
                <label>审核意见：</label>
                <textarea class="form-control" rows="4" name="e_comment" placeholder="请在此处填写专家意见">{{ project.e_comment }}</textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-lg" >提交</button>
        </form>
    </div>
{% endblock %}

{% block content %}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">项目详情</h1>
            <h1 class="page-subhead-line">
                <strong>项目申报书：</strong>
                <a class="btn btn-success" href="{{ MEDIA_URL }}{{ project.p_application }}" >点击下载</a>
                <a class="btn btn-info" target="_blank" href="/static/pdfjs/web/viewer.html?file={{ MEDIA_URL }}{{ project.p_application }}">在线预览</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>中期报告：</strong>
                <a class="btn btn-success" href="{{ MEDIA_URL }}{{ project.p_middle }}" >点击下载</a>
                <a class="btn btn-info" target="_blank" href="/static/pdfjs/web/viewer.html?file={{ MEDIA_URL }}{{ project.p_middle }}">在线预览</a>
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">
        <div class="col-md-12">
            <table border="1" cellpadding="10" cellspacing="10" class="table">
                <tr>
                    <th>计划项目名称</th>
                    <td colspan="4">{{ project.p_name }}</td>
                    <th>类型</th>
                    <td colspan="3">{{ project.get_p_type_display }}</td>
                </tr>
                <tr>
                    <th rowspan="2">计划项目负责人</th>
                    <th>姓名</th>
                    <td>{{ project.d_name }}</td>
                    <th>性别</th>
                    <td>{{ project.get_d_gender_display }}</td>
                    <th>邮箱</th>
                    <td>{{ project.d_email }}</td>
                    <th>专业</th>
                    <td>{{ project.d_major }}</td>
                </tr>
                <tr>
                    <th>学号</th>
                    <td>{{ project.d_student_id }}</td>
                    <th>身份证号</th>
                    <td>{{ project.d_college }}</td>
                    <th>联系电话</th>
                    <td>{{ project.d_phone }}</td>
                    <th>QQ</th>
                    <td>{{ project.d_qq }}</td>
                </tr>
                <tr>
                    <th rowspan="2">指导老师情况</th>
                    <th>姓名</th>
                    <td>{{ project.t_name }}</td>
                    <th>性别</th>
                    <td>{{ project.get_t_gender_display }}</td>
                    <th>民族</th>
                    <td>{{ project.t_nation }}</td>
                    <th>生日</th>
                    <td>{{ project.t_birthday }}</td>
                </tr>
                <tr>
                    <th>邮箱</th>
                    <td>{{ project.t_email }}</td>
                    <th>手机号码</th>
                    <td>{{ project.t_phone }}</td>
                    <th>专业/职称/职务</th>
                    <td colspan="3">{{ project.t_title }}</td>
                </tr>
                {% if members %}
                <tr>
                    <th rowspan="{{ members.count | add:'1' }}">计划项目组成员</th>
                    <th colspan="2">姓名</th>
                    <th>性别</th>
                    <th>学号</th>
                    <th>所属学院</th>
                    <th>专业</th>
                    <th>年级</th>
                    <th>联系电话</th>
                </tr>
                {% for member in members %}
                <tr>
                    <td colspan="2">{{ member.m_name }}</td>
                    <td>{{ member.get_m_sex_display }}</td>
                    <td>{{ member.m_student_id }}</td>
                    <td>{{ member.m_college }}</td>
                    <td>{{ member.m_major }}</td>
                    <td>{{ member.m_grade }}</td>
                    <td>{{ member.m_phone }}</td>
                </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
     <div class="row pad-top-botm">
        <form role="form" class="col-lg-3 col-md-6 col-sm-12" method="post" action="{% url 'grade' %}">
            {% csrf_token %}
            <input id="p_id" style="display: none;" type="text" name="id" value="{{ project.id }}"/>
            <div class="form-group">
                <h4><strong>专家评分</strong>（ 评分范围：0-100 ）</h4>
                <input class="form-control" type="number" name="score" id="id_score" min="0" max="100" required />
                <label>审核意见：</label>
                <textarea class="form-control" rows="4" name="e_comment" placeholder="请在此处填写专家意见">{{ project.e_comment }}</textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-lg" >提交</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
{#<script type="text/javascript">#}
{#    var fileName = $("dd a").text().split("/");#}
{#    var len = fileName.length;#}
{#    $("dd a").text(fileName[len-1]);#}
{##}
{#</script>#}
{% endblock %}